.img-style {
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
    opacity: 1;
    width: 82%;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .img-style {
        box-shadow: 0px 30px 36px #557DA526;
        border-radius: 20px;
        opacity: 1;
        width: 110%;
        vertical-align: middle;
        align-self: center;
    }
}

.text {
    display: inline-block;
    vertical-align: middle;
}

.one {
    display: flex;
    align-items: center;
}