.textOverflow {
    width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customButton {
    background-color: #EDF6FF;
    color: black;
    border: none;
}

.customButton:hover {
    background-color: #303F60;
    color: white;
    border: none;
}

.parentDiv {
    display: flex;
    flex-wrap: wrap;
}

.childDiv {
    flex: 0 1 30%;
    margin: 5px;
}