.textOverflow {
    width: 18em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customButton {
    background-color: #EDF6FF;
    color: black;
    border: none;
}

.customButton:hover {
    background-color: #303F60;
    color: white;
    border: none;
}

.parentDiv {
    display: flex;
    flex-wrap: wrap;
}

.childDiv {
    flex: 0 0 33.333333%;
}

@media only screen and (max-width: 600px) {
    .childDiv {
        flex: 1 0 100%;
    }
}

.marginCard {
    margin: 3px;
}